asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-ckeditor
django-environ
django-etc
django-hitcount
django-jazzmin
django-js-asset
django-modeltranslation
django-social-share
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
sqlparse
typing-extensions
urllib3
